/* 헤더 푸터 구분 */
.my-header,
.my-footer {
  background-color: rgb(233, 226, 214);
  text-align: center;
}

/* ========================================= */
/* join.html */
.form-controller {
  width: 100%;
}

.title-box {
  width: 250px;
  margin: 30px auto;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;

  padding-top: 20px;
  padding-bottom: 20px;
  font-size: x-large;
}

.join-form {
  margin: 0 auto;
  /* class관련 클래스가 float를 가지고 있어서
        col에 float를 none으로 설정 */
  float: none;
}

.join-form form {
  border: 1px solid#777;
  /* 테두리 둥글기 */
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 10px 16px rgba(80, 80, 80, 0.753);
}

.input-shadow {
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(150, 149, 149, 0.753);
}
.addr-btn {
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}

.addr-btn > .input-shadow {
  margin-bottom: 10px;
}
/* input의 길이조절 -> 밖에 div 생성 -> 그걸 사이즈 줄임 */
.input-shadow-addr {
  width: 40%;
}

/* 회원가입창 버튼 색 변경 */
.btn-idChk {
  background-color: #7dadcd;
  border: none;
  float: right;
}
.btn-join {
  background-color: #d96a53;
  border: none;
  font-weight: 600;
}
.btn-login {
  background-color: #f0957d;
  border: none;
  font-weight: 600;
}
.btn-addrfind {
  float: right;
  background-color: #f0957d;
  color: white;
  border: none;
  height: 30px;
}

/*==============================*/
/* 로그인 화면 */
.login-title {
  text-align: center;
  font-size: x-large;

  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 10px;

  border-bottom: 1px solid #e1e1e1;
}

.login-form {
  margin: 0 auto;
  /* class관련 클래스가 float를 가지고 있어서
  col에 float를 none으로 설정 */
  float: none;

  border: 1px solid#777;
  /* 테두리 둥글기 */
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 10px 16px rgba(80, 80, 80, 0.753);
}

.login-btn {
  padding-top: 10px;
  border-top: 1px solid #e1e1e1;
}
