<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style>
      .company-room{
          margin: 0 auto;
          width: 70%;
      }
      .company-room>.company-btn{
          width: 300px;
          height: 300px;
          font-size: 50px;
          margin: 20px;
      }
      .company-room>.room-btn{
          width: 300px;
          height: 300px;
          font-size: 50px;
          margin: 20px;
      }
      .company-room>.company-look{
          width: 300px;
          height: 300px;
          font-size: 50px;
          margin: 20px;
      }
  </style>

</head>
<body>

    <div>
        <div class="company-room">
            <button type="button" class="btn btn-success company-btn">업체등록</button>
            <button type="button" class="btn btn-warning company-look" data-toggle="modal" data-target="#regist">업체조회</button>
            <button type="button" class="btn btn-info room-btn" data-toggle="modal" data-target="#myModal">객실등록</button>
        </div>
    </div>


    <!-- 객실등록 -->
    <div class="container">
        <!-- Trigger the modal with a button -->
        <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
      
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">업체번호를 입력하세요</h4>
              </div>
              <div class="modal-body">
                <input type="text" class="form-control">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-warning">확인</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
              </div>
            </div>
            
          </div>
        </div>    
    </div>

    <!-- 업체조회 -->
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="regist" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">업체번호를 입력하세요</h4>
              </div>
              <div class="modal-body">
                <input type="text" class="form-control" id="usr">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-warning">확인</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
              </div>
            </div>
            
          </div>
        </div>    
    </div>



</body>
</html>
