/*전역 설정*/
li,
ul,
a,
p {
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
}

/* ============== 헤더 ================= */

@media (max-width: 766px) {
  .title {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-left: 25px;
  }
}

.title {
  font-size: 40px;
  margin-top: 20px;
  margin-left: 25px;
}

.MainHeader {
  font-family: "Gugi", cursive;
  background-color: #ead0b8;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 16;
  width: 100%;
  height: 100px;
}

.topmenu {
  /*상단 메뉴*/

  margin-top: 25px;
  font-size: 20px;
}

.search {
  /*입력창 위치*/
  position: absolute;
  top: 60px;
  right: 30px;
}

.search > input {
  /*입력창 길이조절*/
  width: 300px;
}

/* ============== 배너 ================= */

.banner {
  margin-top: 100px;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

.carousel-control.right,
.carousel-control.left {
  background-image:
        /*배너 양쪽 그라데이션*/ linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
}

.prod-list,
.prod-box {
  display: block;
  border: 1px solid rgb(182, 182, 182);
  box-sizing: border-box;
  text-align: center;
}

.prod-list,
.prod-list > li {
  padding: 5px;
}

.prod-box {
  position: relative;
}

.prod-box .arrow {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  background-color: rgb(204, 204, 204);
  color: white;
  opacity: 1;
}

.prod-box .hover {
  display: block;
  width: 100px;
  height: 35px;
  line-height: 35px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  background-color: rgb(50, 96, 245);
  color: white;
  text-align: center;
  opacity: 0;
  /*투명도 0~1*/
}

.prod-box:hover > .arrow {
  opacity: 0;
}

.prod-box:hover > .hover {
  opacity: 1;
}

.prod-box:hover {
  border: 1px solid rgb(50, 96, 245);
  box-sizing: border-box;
}

/* ============== 선택 버튼 영역 ================= */

.typetext {
  font-family: "Jua", sans-serif;
  text-align: center;
  font-size: 30px;
  color: black;
  margin-top: 20px;
}

.typeimg {
  width: 60%;
  height: 60%;

  text-align: center;
  margin-left: 50px;
}

.typeselect .hover {
  background-color: rgba(0, 0, 0, 0.027);
}

/* ============== 호텔 뷰 영역 ================= */

.mainview {
  margin-top: 100px;
  font-family: "Jua", sans-serif;
}

.mainviewimg {
  margin-top: 25px;
}

.gra_black {
  position: absolute;
  margin-right: 15px;
  margin-left: 15px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  color: white;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.66) 100%);
}

.mainviewinfo {
  position: absolute;
  top: 65%;
  left: 5%;
}

.mainviewprice {
  position: absolute;
  top: 75%;
  right: 8%;
}

/* ============== 풋터 ================= */

.mainfooter {
  margin-top: 40px;
  background-color: rgb(156, 133, 120);
  height: 150px;
}

.footercontent {
  margin-top: 30px;
  color: white;
  font-size: 17px;
}
