<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지작성</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/board.css">

    <style type="text/css">
      
    
    </style>
</head>

<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="board-title">
                    <p>공지작성</p>
                </div>
                <div class="write-wrap">
                    <div class="write-box">
                        <div class="write-title">
                            <dl>
                                <dt class="title-dt">제목</dt>
                                <dd><input type="text" placeholder="제목입력"></dd>
                            </dl>
                        </div>
                        <div class="write-info">
                            <dl>
                                <dt class="info-dt">내용</dt>
                            </dl>
                        </div>
                        <!-- <div class="write-info">
                            <dl>
                                <dt>아이디</dt>
                                <dd><input type="text" placeholder="사용자아이디"></dd>
                            </dl>
                            <dl>
                                <dt>비밀번호</dt>
                                <dd><input type="password" placeholder="비밀번호입력"></dd>
                            </dl>
                        </div>
                        </div> -->
                        <div class="write-content">
                            <textarea placeholder="내용입력"></textarea>

                        </div>

                        <div class="write-button">
                            <button type="button" class="btn btn-info">공지 등록</button>
                            <button type="button" class="btn btn-info">목록</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </section>
</body>

</html>